html,body
  height: 100%;
  width: 100%;

span
  font-size 14px

ul,li
  user-select none
  cursor pointer

a
  color #1a6db6

/*谷歌滚动条样式*/
// 滚动条整体部分
::-webkit-scrollbar
  width 6px
  height 6px
  background-color #fff

// 滚动条里面可以拖动的那部分
::-webkit-scrollbar-thumb
  border-radius 4px
  background-color #ddd
  width 20px !important


.base_container
  height 100%
  width 100%

.center
  text-align center

.left
  float left

.right
  float right

.text_left
  text-align left
